<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome </h1>
    <p>该验证码<%= Settings.validate_code_time %>内有效</p>
    <div class="validate_code">
      <%= @code %>
    </div>
  </body>
</html>
